    <div class="container-reg flex-center">
      <div class="flex align-items-center">

          <div class="text-center">
              <h1 class="h1 font-bold">Boba Meets Churros </h1>
              <h6>You're just one click away from meeting the boba of your life.</h6>
          </div>

          <div class="container-reg">
            <!--Form-->
            <div class="card">
              <div class="card-body">
                <!--Header-->
                <div class="text-center"  style='padding-top: 10px;'>
                  <h3 class="font-bold">Register</h3>
                  <hr class="hr-light">
                </div>

                <!--Body-->
                <div class="md-form form-horizontal row" style='padding-bottom: 15px;'>
                  <div class="col-xs-6 col-md-3">
                    <label for="form3" class="active"><i class="fa fa-user prefix white-text active"></i> Username</label>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-9">
                    {{input type="name" value=name class="form-control" placeholder="Enter username"  autofocus="autofocus"}}
                  </div>
                </div>

                <div class="md-form form-horizontal row" style='padding-bottom: 15px'>
                  <div class="col-xs-6 col-md-3">
                      <label for="form4" class="active"><i class="fa fa-lock prefix white-text"></i> Password</label>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-9">
                    {{input type="password" value=password class="form-control" placeholder="New password"}}
                  </div>
                </div>

                <div class="md-form form-horizontal row" style='padding-bottom: 15px'>
                  <div class="col-xs-6 col-md-3">
                      <label for="form4" class="active"><i class="prefix white-text"></i> </label>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-9">
                    {{input type="password" value=confirmPassword class="form-control" placeholder="Confirm password"}}
                  </div>
                </div>

                <div class="md-form form-horizontal row">
                  <div class="col-xs-6 col-md-3">
                    <label for="form2" class="active"><i class="fa fa-envelope prefix white-text"></i> E-Mail</label>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-9">
                    {{input type="email" value=emailAddress class="form-control" placeholder="Enter email"}}
                  </div>
                </div>

                <div class="text-center">
                  <hr class="hr-light">
                  <h3 class="font-bold">Tell Us About Yourself</h3>
                </div>

                <div class="md-form form-horizontal row black-text" style='padding: 15px; font-size: 22px;'>
                  <div class="col-xs-6 col-md-3">
                    <label for="form3" class="active">Your Gender</label>
                  </div>
                  <table>
                  <div class="col-xs-12 col-sm-6 col-md-9">
                    {{#each genders as |gender|}}
                      <tr>
                        <td>
                          <input type="checkbox" name="gender" onchange={{action (action "valueHasChangedGender" gender) value="target.checked"}}>
                        </td>
                        <td>{{gender.name}}</td>
                      </tr>
                    {{/each}}
                  </div>
                </table>
              </div>

                <div class="md-form form-horizontal row black-text" style='padding: 15px; font-size: 22px;'>
                  <div class="col-xs-6 col-md-3">
                    <label for="form3" class="active">Your Personality Type</label>
                  </div>
                  <table>
                  <div class="col-xs-12 col-sm-6 col-md-9">
                    {{#each personalitytypes as |personalitytype|}}
                      <tr>
                        <td>
                          <input type="checkbox" name="personalitytype" onchange={{action (action "valueHasChangedPersonType" personalitytype) value="target.checked"}}>
                        </td>
                        <td>{{personalitytype.name}}</td>
                      </tr>
                    {{/each}}
                  </div>
                </table>
              </div>

              <div class="md-form form-horizontal row black-text" style='padding: 15px; font-size: 22px;'>
                <div class="col-xs-6 col-md-3">
                  <label for="form3" class="active">Your Personality Traits</label>
                </div>
                <table>
                <div class="col-xs-12 col-sm-6 col-md-9">
                  {{#each personalitytraits as |personalitytrait|}}
                    <tr>
                      <td>
                        <input type="checkbox" name="personalitytrait" onchange={{action (action "valueHasChangedPersonTrait" personalitytrait) value="target.checked"}}>
                      </td>
                      <td>{{personalitytrait.name}}</td>
                    </tr>
                  {{/each}}
                </div>
              </table>
            </div>



                    <!-- <label class="container">Female
                      {{input type="radio" name="gender" checked=isFemale}}
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Male
                      {{input type="radio" name="gender" checked=isMale}}
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">I'd Rather Not Say
                    {{input type="radio" name="gender" checked=isUnknownGender}}
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div> -->

                <!-- <div class="md-form form-horizontal row" style='padding: 15px; font-size: 22px;'>
                  <div class="col-xs-6 col-md-3">
                    <label for="form3" class="active">Personality Type</label>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-9">
                    <label class="container">Extrovert
                      {{input type="radio" name="personalitytype" checked=isExtrovert}}
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Introvert
                      {{input type="radio" name="personalitytype" checked=isIntrovert}}
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Ambivert
                      {{input type="radio" name="personalitytype" checked=isAmbitious}}
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div> -->

                <!-- <div class="md-form form-horizontal row" style='padding: 15px; font-size: 22px;'>
                  <div class="col-xs-6 col-md-3">
                    <label for="form3" class="active">Your Personality Traits
                    (Please Select 4 That Best Describe You)</label>
                  </div>
                  <div class="col-xs-6 col-md-3">
                    <label class="container">Adventurous
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Ambitious
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Bubbly
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Charismatic
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Clever
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Compasionate
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Confident
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Considerate
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Courteous
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Detail-Oriented
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-xs-6 col-md-3">
                    <label class="container">Easy-Going
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Energetic
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Generous
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Humble
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Impatient
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Independent
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Loyal
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Observant
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Open-Minded
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Optimistic
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-xs-6 col-md-3">
                    <label class="container">Organized
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Passionate
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Patient
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Philosophical
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Perfectionist
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Resourceful
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Romantic
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Suave
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Sweet
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Witty
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div> -->

                <div class="text-center" style='padding-top: 15px;'>
                  {{#link-to 'login' }}<button class="btn btn-indigo" style='font-size: 20px;' {{action 'saveUser'}}>Sign up</button>{{/link-to}}
                  <div class="inline-ul text-center d-flex justify-content-center" style='padding-top: 20px;'>
                    {{#link-to 'login' }}<a href="" class="white-text">Already a user?</a>{{/link-to}}
                    <hr class="hr-light mb-3 mt-4">
                    <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"></i></a>
                    <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"> </i></a>
                    <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text"> </i></a>
                </div>
              </div>

            </div>
          </div>
          <!--/.Form-->
        </div>
      </div>
    </div>
